.gallery-page {
  width: 100%;
  min-height: calc(100vh - 107px);

  .filter-containers {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .collections-filters {
    display: flex;
    gap: 5px;
    .primary-button-component {
      width: fit-content;
      padding: 13px 20px;
    }
  }
  .other-filters {
    display: flex;
    gap: 20px;
    align-items: center;

    .filter {
      padding: 10px 20px;
      border-radius: 5px;
      border: 1px solid rgb(215, 215, 215);
    }
    svg {
      width: 30px;
      path {
        stroke: white;
      }
    }
  }
  .artworks-container {
    margin-top: 1rem;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 100%;
    .art-container {
      border-radius: 9px;
      background-color: #d6d6d616;
      position: relative;
      min-height: 350px;
      width: calc(20% - 10px);
      overflow: hidden;
      cursor: pointer;
      img {
        border-radius: 9px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.5s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
      }
      .art-description {
        padding: 5px;
        width: calc(100% - 10px);
        font-size: 12px;
        height: fit-content;
        background-color: #1f1f1fb5;
        position: absolute;
        bottom: 0px;
        color: white;
        border-radius: 0 0 9px 9px;
      }
    }
  }
}
