.navbar-component {
  padding: 20px 0 10px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
  .search-field {
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.2);
    width: 30%;
    width: calc(10px + 30vw);
    color: white;
    border-radius: 10px;
    border: 0;
    padding: 0.8rem 1rem;
    outline: 0;
  }
  .navbar-logo {
    width: calc(70px + 5vw);
    filter: brightness(10);
    cursor: pointer;
  }

  .nav-item {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    width: fit-content;
    cursor: pointer;
    &:hover {
      background: #ffffff2b;
      border-radius: 4px;
      transition: all 0.2s ease-out;
    }

    &.open {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #fff; // Menu background for mobile view
      ul {
        flex-direction: column;
        align-items: flex-start; // Aligns the menu items to the left
      }
    }
  }

  .navbar-toggler {
    display: none;
    cursor: pointer;
    span {
      font-size: 1.5rem;
    }
  }
}
