.select-field-component {
  position: relative;
  width: fit-content;
  font-size: 14px;
  .dropdown-field {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid rgb(198, 198, 198);
    padding: 13px 20px;
    background: transparent;
    .value-container {
      font-size: 12px;
      margin: 0;
      color: gray;
    }
    span {
      font-weight: 700;
      font-size: 6px;
      margin-left: 10px;
    }
  }
  .options-container {
    position: absolute;
    z-index: 10;
    width: 100%;
    right: 0;
    top: 110%;
    padding: 10px 0;
    border-radius: 5px;
    background-color: rgba(87, 87, 87, 0.882);
    .option-item {
      font-weight: 600;
      text-align: right;
      padding: 5px 20px;
      cursor: pointer;
      &:hover {
        background-color: rgba(158, 158, 158, 0.235);
      }
    }
  }
}
